/* page backgrounds */
body {
  background: rgb(117, 194, 50);
  background: url("images/golf.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main {
  background-color: ivory;
  box-shadow: 0.1px 1.3px 1px 1px gray;
}
.navbar {
  margin-bottom: 0;
}

/* Carousel */
#myCarousel {
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 1px solid gray;
}
.btn {
  border: 1px solid black;
  color: black;
}
.carouselShadow {
  text-shadow: 1px 1px black;
}

/* footer */
.footer {
  background-color: rgb(28, 27, 27);
  color: ivory;
  padding-top: 10px;
	padding-bottom: 5px;
	border: 1px solid gray;
}
.footer a:link {
  color: rgb(117, 194, 50);
}
.footer a:visited {
  color: rgb(36, 157, 238);
}
.footer a:hover {
  text-decoration: none;
  color: whitesmoke;
}
